  body {
    background: linear-gradient(to right, rgb(235, 235, 245) 50%, transparent 50%);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  #home{
    padding:150px;
  }
  
  header {
    background-color: #333;
    color: #fff;
    background-color: white;
    padding: 10px;
    z-index: 9999; 
  }

  section{
    padding:30px
  }

  .navbar-fixed{
    position: sticky;
    top: 0;
    z-index: 9999;
  }

  nav ul li {
    display: inline-block;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
  }
  
  nav ul li a {
    display: inline-block;
    color: black;
    padding: 15px;
    text-decoration: none;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    text-align: center;
  }


  p {
    margin: 20px auto;
    max-width: 600px;
    margin-bottom: 10px;
  }
  
  #hey {
    color: rgb(86, 83, 233);
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
  }
  
  h1 span {
    font-size: 2em; /* Adjust the font size as desired */
  }
  
  #word {
    animation: typing 3s steps(15), blink 0.5s step-end infinite alternate;
    font-size: smaller;
    color: rgb(86, 83, 233);
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    text-decoration: underline;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }
  
  .navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .navbar-fixed ul li a {
    display: inline-block;
    padding: 10px;
    color: black; /* Set font color to black */
    text-decoration: none;
  }
  
  .navbar-fixed ul li a.active {
    border-bottom: 2px solid rgb(155, 155, 236);
    color:rgb(110, 110, 236);
  }
  
  .navbar-fixed:not(.navbar-not-scrolled) {
    background-color: white; /* Set background color to white when scrolled or not scrolled */
  }
  
  .navbar-fixed:not(.navbar-not-scrolled) ul li a {
    color: black; /* Set font color to black when scrolled or not scrolled */
  }

  #about h2{
    font-size: 40px;
  }

  #about p {
    font-size: 20px;
    color: #ada6a6;
    font-weight: 500;
  }

  #resume p{
    font-size:larger;
    padding:30px;
  }

  #resume h2{
    font-size: 40px;
  }

  #resume h3{
    font-size: 25px;
  }

  #resume h4{
    font-size: 20px;
  }

  .bi-briefcase{
    color:blue;
  }

  .bi-emoji-smile-fill{
    color:rgb(233, 230, 184);
  }

  #resume ul {
    margin-left:740px;
    font-size:larger
  }

  @keyframes moveDown {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(0); }
  }

  .download-arrow {
    animation: moveDown 2s infinite;
  }

  .hidden-skills {
    display: none;
  }

  .stamp {
    color: #333; /* Updated text color for better visibility */
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: #f5f5dc;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    opacity: 0.8;
  }
  
  .stamp p {
    margin: 0;
  }
  
  #projects h2{
  font-size: 40px;
  }

  #blog h2{
    font-size: 40px;
  }

  .enlarged {
    width: 80%;
    height: 80%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    cursor: zoom-out;
  }

  .hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .image-frame {
    border: 20px solid #c2d47d; /* Set the border width and color */
    padding: 20px; /* Add some padding to create space between the frame and the image */
  }

  .image-frame img {
    max-width: 100%; /* Ensure the image stays within the frame */
    height: 100%; /* Maintain the aspect ratio of the image */
  }

  .frame {
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    background: linear-gradient(to right, white, rgba(202, 218, 223, 0.466));
  }

  .frame h3 {
    font-family: 'Oswald', sans-serif;
    color: #333;
  }
  
  .frame p {
    color: rgba(0, 0, 0, 0.74);
  }
  
  .frame ul {
    list-style-type: none;
    padding: 0;
  }
  
  .frame ul li:before {
    content: "•";
    color: #666;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  
  .frame .border {
    border: 2px solid #333;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .frame .border img {
    max-width: 100%;
    height: auto;
  }
  
  .frame .border p {
    color: #666;
    margin-top: 10px;
  }

  #resume {
    background: linear-gradient(to right, white, rgba(212, 236, 244, 0.466));
  }

  @media (max-width: 575px) {
    .stamp {
      display:none;
    }
    #projects iframe,
    #projects img {
      width: 200px;
      height:200px;
    }

    h2{
      text-align: left;
    }
    
    #c img {
      width: 20px;
      height: 20px;
    }
  

  }
